[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
django-rest-framework = "*"
uvicorn = "*"
pyyaml = "*"
uritemplate = "*"
ipython = "*"
pillow = "*"
django-filter = "*"
django-oauth-toolkit = "*"
django-cors-headers = "*"
psycopg2 = "*"

[dev-packages]
pylint = "*"
mypy = "*"
flake8 = "*"
isort = "*"
pytest = "*"
pytest-django = "*"
pytest-factoryboy = "*"
pylint-django = "*"
debugpy = "*"
vulture = "*"
pycodestyle = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
