
<html>
  <head>
     <script src="https://unpkg.com/htmx.org@1.6.1"></script>
     <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
     <link href="/static/output.css" rel="stylesheet">
  </head>
  <body>
	{% block body %}{% endblock body %}
  </body>
</html