<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Sport
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Location(s)
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
      </th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    {% for season in results %}
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="flex items-center">
          <div class="flex-shrink-0 h-10 w-10">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
          </div>
          <div class="ml-4">
            <div class="text-sm font-medium text-gray-900">
              {{ season.league.name }} / {{ season.name }}
            </div>
            <div class="text-sm text-gray-500">
              Wednesdays
            </div>
          </div>
        </div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-900">{{ season.game_locations }}</div>
      </td>
      <td>
          <div class="
              m-2
              rounded-md 
              shadow">
            <a href="#" class="
              flex items-center justify-between
              px-8 py-3 
              border border-transparent 
              rounded-md 
              text-white text-sm
              bg-indigo-600 
              hover:bg-indigo-700">
              Call to Action!
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                </svg>
            </a>
          </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>