{% extends 'base.jinja' %}} {% block body %}
<div class="flex flex-col m-4">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <form
        method="GET"
        class="w-full max-w-lg"
        hx-trigger="change"
        hx-get="{{ form_url }}"
        hx-target="#data-table"
      >
        <div class="grid grid-cols-3 gap-6">
          {% for field in form %}
          <div>
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
              for="grid-first-name"
            >
              {{ field.label }} {{ field }}
            </label>
          </div>
          {% endfor %}
        </div>
      </form>
      <div
        id="data-table"
        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
      >
        {% include list_template %}
      </div>
    </div>
  </div>
</div>
{% endblock body %}
